body{
    background-color: rgb(105, 99, 230);
    font-family: "Helvetica" "Arial" sans-serif;
    font-weight: lighter;
}

#container{
    position: absolute;
    left: 10%;
    right: 10%;
    top: 5%;
    bottom: 5%;
    background-color: #fff;
    padding: 5%;
    box-shadow: 20px 20px 15px #000;
    overflow: scroll;
}

h1{
    text-align: center;
}

hr{
    margin-top: 1em;
    margin-bottom: 1em;
}